<h1>Table of contents</h1>

<ul>
  <% @chapters.each do |chapter| %>
    <li><%= chapter.name %></li>
    <ul>
      <% chapter.sections.each do |section| %>
        <li><%= section.name %></li>
        <ul>
          <% section.lessons.each do |lesson| %>
            <li><a href= "admin/<%= lesson.id%>"><%= lesson.number %>.<%= lesson.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= render('layouts/errors', :object => @lesson) %>

<%= render('layouts/errors', :object => @section) %>

<%= render('layouts/errors', :object => @chapter) %>

<form id="new_lesson" action="/lessons" method="post">
  <%= render('form_lessons') %>
  <select form="new_lesson" name="lesson[section_id]">
    <% @sections.each do |section| %>
      <option value="<%= section.id %>"><%= section.chapter.name %>: <%= section.name %></option>
    <% end %>
  </select>
  <button>Create Lesson</button>
</form>

<form id="new_section" action="/sections" method="post">
  <label for="section_name">Name of Section</label>
  <input id="section_name" name="section[name]" type="text" value="<%= @section.name %>">
  <select form="new_section" name="section[chapter_id]">
    <% @chapters.each do |chapter| %>
      <option value="<%= chapter.id %>"><%= chapter.name %></option>
    <% end %>
  </select>
  <button>Create Section</button>
</form>

<form id="new_chapter" action="/chapters" method="post">
  <label for="chapter_name">Name of Chapter</label>
  <input id="chapter_name" name="chapter[name]" type="text" value="<%= @chapter.name %>">
  <button>Create Chapter</button>
</form>
