<h1><%= @lesson.name %></h1>

<p>Text: <%= @lesson.text %></p>

<h3>Edit lesson</h3>

<form action="/admin/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_name">Name of Lesson</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_text">Text of Lesson</label>
  <input id="lesson_text" name="lesson[text]" type="text" value="<%= @lesson.text %>">
  <button>Update Lesson</button>
</form>

<% if @lesson.errors.any? %>
  <p>Please fix errors:</p>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p><a href = "/admin/<%= @lesson.id %>"
      data-confirm="Are you sure you want to delete this lesson?"
      data-method="delete" rel= "nofollow">Destroy your Lesson</a></p>

<p><a href="/admin">Return to admin page</a></p>
